export KUBECONFIG=$PWD/.kubeconfig
export WORKER_ACCOUNT_ID=atwater-pks-worker-node@pa-yrampuria.iam.gserviceaccount.com



use docker-machine workspace
function lpfs {
	cmd=$1; shift
	pfs $cmd --kubeconfig $KUBECONFIG $*
}
export_function lpfs
