export KUBECONFIG=$PWD/.kubeconfig
export WORKER_SERVICE_ACCOUNT=atwater-pks-worker-node@pa-yrampuria.iam.gserviceaccount.com
export GCP_PROJECT_ID=$(gcloud config get-value core/project)


use docker-machine workspace
function lpfs {
	cmd=$1; shift
	pfs $cmd --kubeconfig $KUBECONFIG $*
}
export_function lpfs
