export KUBECONFIG=$PWD/.kubeconfig
export WORKER_SERVICE_ACCOUNT=atwater-pks-worker-node@pa-yrampuria.iam.gserviceaccount.com
export GCP_PROJECT_ID=$(gcloud config get-value core/project)
export USERS_ROOT=$PWD/setup-environment/users

function lpfs {
	a-pfs $*
}
export_function lpfs

function a-pfs {
	__pfs $KUBECONFIG $*
}
export_function a-pfs

function u-pfs {
	user_id=$1; shift	
	__pfs $USERS_ROOT/user-${user_id}/config	$*
}
export_function u-pfs

function u-kubectl {
	user_id=$1; shift
	KUBECONFIG=$USERS_ROOT/user-${user_id}/config kubectl $*
}
export_function u-kubectl

function u-kail {
	user_id=$1
	KUBECONFIG=$USERS_ROOT/user-${user_id}/config kail -n user-${user_id}-ns
}
export_function u-kail 

function __pfs {
	config=$1; shift
	cmd=$1; shift
	[[ $cmd == "" ]] && pfs && return
	pfs $cmd --kubeconfig=$config $*
}
export_function __pfs

